window {
  font-size: 20px;
  font-family: "Fira Code";

  background-color: rgba(50, 50, 50, 0.75);
  color: white;
  
}

#entry {
  padding-left: 10px;
}

#text:selected {
  color: black;
}

#input {
  background-color: rgba(50, 50, 50, 0.75);
  color: white;
  padding: 5px;
}

image {
  margin-right: 7px;
}
